.contact_us__section_container {
  background-color: #eee;
}

.contact_us__title {
  font-size: clamp(0.5em, 10vw, 3em);
  text-align: center;
}

.contact_us__container {
  width: clamp(350px, 90vw, 1208px);
  margin: 0 auto;
  padding-bottom: 1em;
  display: flex;
  padding-top: 5em;
}

.contact_us__input_container {
  width: clamp(350px, 90vw, 402px);
  display: flex;
  flex-direction: column;
  height: 36em;
  border-radius: 5px;
  /* border: 1px solid grey; */
  background-color: #fff;
  /* background-color: red; */
}

.contact_us__input_container div {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

/* .contact_us__label {
  padding-top: 3em;
} */

/* .contact_us__input {
  padding: 7px 0;
  border: 1px solid #eee;
} */

/* .contact_us__textarea {
  border: 1px solid #eee;
} */

/* .contact_us__input_container div label {
  font-size: 0.7em;
  font-weight: 700;
} */

/* .contact_us__button {
  margin-bottom: 1em;
  padding: 12px 0;
  background-color: orange;
  border: none;
  border-radius: 2px;
} */

.contact_us__data_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.contact_us__data_container p {
  margin: 30px 17px;
}

.contact_us__icon {
  font-size: clamp(30px, 10vw, 50px);
}

.contact_us__logo {
  margin: 1em 7px;
}

@media (max-width: 1200px) {
  .contact_us__input_container {
    margin: 0 auto;
  }
  .contact_us__container {
    flex-direction: column;
  }
}
